@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&subset=latin-ext');

body {
	background-color: #6080a9;
    background-image: url('../img/index.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    min-height: 100vh;
}

.table {
    display: table;
    width: 100vw;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 4em;
}

.cell.center {
    vertical-align: middle;
    text-align: center;
}

.cell.center ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.cell.center ul li {
    display: inline;
    margin: 0.5em;
}

.cell:hover {
    cursor: pointer;
}

.cell:hover * {
    color: #fff;
}

h1 {
    font-size: 200%;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.9s;
}

p.lead {
    font-size: 150%;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.6s;
}

p {
    width: calc(50vw - 8em);
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s;
}

a:link {
    color: #fff;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #fff;
}

/* mouse over link */
a:hover {
    color: #fff;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #fff;
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 1.8vh;
    }

    p {
        width: calc(100vw - 2em);
        margin: 0;
    }

    p.lead {
        margin-bottom: 1em;
    }

    .table, .row, .cell {
        display: block;
    }
    
    .cell {
        padding: 0.5em 1em 0.5em 1em;
    }

    .cell.center {
        text-align: left;
    }

    .cell.center ul {
        text-align: left;
    }
}